.app
  background: url("./assets/GrayShard.png") no-repeat top left
  background-size: 70%

  @media (max-width: 768px)
    background: url("./assets/GrayShard.png") no-repeat top center
    background-size: 90%


.home
  min-height: 100vh

