.app_slider
  padding-bottom: 100px

  &__header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    h3
      font-size: 25px
      font-weight: 300
      color: $dove_gray

  &__body
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    .row
      width: 100%

    .item_card
      padding: 25px
      border-radius: 10px
      background-color: #1C1C1C
      box-shadow: 0 3px 0 0 black
      max-height: 335px
      display: flex
      flex-direction: column

      .item_image
        width: 100%
        max-width: 200px
        max-height: 300px

      .item_name
        color: white
        font-size: 14px

      .price
        font-size: 13px
        font-weight: bold
        margin-bottom: 5px

      &__footer
        width: 100%
        justify-content: space-between

        .cart-icon
          &:hover
            cursor: pointer
