.app_button
  padding: 15px 30px
  border: 1px solid white
  border-radius: 30px
  color: white
  font-size: 11px
  background: transparent

  &:hover
    cursor: pointer


  &--small
    width: 90px
    font-size: 9px
    padding: 10px 27px
