.footer
  display: flex
  align-items: flex-start
  margin-top: 100px

  .row
    width: 100%

  img
    margin-right: 50px

  p
    color: $dove_gray
    font-size: 16px

    &:hover
      cursor: pointer

  .info
    color: white
    font-size: 18px
    &:hover
      cursor: auto
