.header
  transition: width, background 0.3s, padding-bottom 0.5s, box-shadow 1s
  position: fixed
  width: 85vw
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  img
    transition: margin-left 0.5s

  .navbar
    transition: margin-right 0.5s
    width: 60%
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between

    &__items
      width: 100%
      display: flex
      flex-flow: row nowrap
      justify-content: space-between

      &:last-child
        padding-right: 0

      .item
        font-family: "Roboto", serif
        font-size: 17px
        color: $white
        background-color: transparent
        border: none

        &:last-child
          margin-right: 50px

        &:hover
          cursor: pointer

      &__drop-down-menu
        display: flex
        flex-flow: row nowrap
        align-items: center

        .fall_out
          display: flex
          flex-flow: row nowrap
          align-items: center

        .arrow-up
          transition: all 0.5s
          padding-left: 6px

        .arrow-down
          transition: all 0.5s
          transform: scale(1,-1)
          padding-left: 6px

        &__items
          background-color: $shark
          border-radius: 10px
          padding: 15px 0 20px 0
          display: flex
          flex-flow: column
          align-items: flex-start
          position: absolute
          top: 0
          margin-top: 60px
          margin-left: -50px

          .item
            width: 100%
            text-align: start
            font-family: 'Montserrat', sans-serif
            font-size: 16px
            display: block
            padding: 6px 65px 6px 50px

            &:hover
              background-color: $te_papa_green

            &:last-child
              &:hover
                border-radius: 0 0 15px 15px

    .show-search
      display: flex
      width: 100%

    .search
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center

    &__search
      width: 100%

      input
        border: 1px solid $silver_chalice
        background: transparent
        color: $dove_gray
        padding: 17px 0 17px 35px
        width: 100%
        border-radius: 40px 0 0 40px
        transition: 0.4s border

        &:focus
          outline: none

      .icon
        transition: all 1s

      &:hover
        input
          border: 1px solid $dodger_blue

    .search-icon--active
      filter: invert(54%) sepia(84%) saturate(1360%) hue-rotate(182deg) brightness(102%) contrast(101%)


    .icon
      width: 25px

    .icon:last-child
      padding-left: 20px

  &--fixed
    left: 0
    width: 100vw
    background: linear-gradient($woodsmoke, $ebony_clay)
    box-shadow: 0 3px 3px 0 black
    padding: 10px 0
    z-index: 2

    .app-logo
      margin-left: 50px

    .navbar
      margin-right: 50px


@media (max-width: 768px)
  .header
    align-items: center
    width: 100vw
    flex-flow: column

    .app-logo
      width: 100px
      margin: 0

    .navbar
      transition: all 0.2s
      opacity: 0
      width: 100%
      flex-flow: column
      margin-right: 0

      &__items
        flex-flow: column
        align-items: center

        .item
          padding: 20px
          &:last-child
            margin: 0

      &__drop-down-menu
        justify-content: center


      .icon:last-child
        margin-top: 20px
        padding-left: 0

      &__search
        padding: 10px
        display: flex

        input
          border: 1px solid $silver_chalice
          background: transparent
          color: $dove_gray
          padding: 20px
          border-radius: 20px
          margin: 10px
          transition: 0.4s border


    &__action
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center


    .burger
      display: flex
      width: 25px
      height: 14px
      margin-right: 15px

      &:hover
        cursor: pointer

    &--active
      display: flex
      flex-flow: column
      background: linear-gradient($woodsmoke, $ebony_clay)
      padding: 15px 0 20px 0

      .app-logo
        margin: 0

      .navbar
        opacity: 1





