.product_card_slider
  padding-bottom: 100px

  h3
    font-size: 25px
    font-weight: 300
    color: $dove_gray

  &__categories
    font-size: 18px
    color: $dove_gray
    display: flex
    flex-flow: row nowrap

    .category
      margin-right: 60px

      &:last-child
        margin-right: 0

      &--active
        color: white

  &__body
    align-items: center

    &__items
      margin-top: 60px
      align-items: center
      align-content: center

      .product_card
        max-width: 400px
        background: linear-gradient(90deg, rgba(39,51,59,1) 0%, rgba(31,37,39,1) 100%)
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
        padding: 25px 30px
        border-radius: 30px
        margin-bottom: 50px
        position: relative
        z-index: 1

        .deadline
          display: flex
          align-items: center
          width: 80px
          height: 80px
          position: absolute
          background: linear-gradient(-120deg, #3440F5, #9F499F)
          border: 3px solid #C8CEFE
          border-radius: 50px
          right: 0
          top: 0
          transform: translateY(-40px)

          p
            color: white
            font-size: 10px
            text-align: center

        &__right_block
          display: flex
          flex-flow: column
          align-items: flex-start

          .price--discount
            margin-left: 10px

          h4
            font-size: 14px
            font-weight: 300
            color: #CFF2FF

        .product_image
          width: 138px

        &--limit
          background: linear-gradient(#293740, #314954, #375864, #34505B, #293740)
