.product_day
  background: linear-gradient($ebony_clay, $woodsmoke)
  border-radius: 20px

  &__card
    padding: 50px 15px 90px 47px

    &__header

      h3
        color: $malibu
        font-size: 33px
        font-weight: 300
        text-transform: uppercase
        margin: 0 0 10px 0

      p
        margin: 0
        font-size: 14px
        color: $dove_gray


      .timer
        display: flex
        flex-flow: column
        align-items: center
        background: $anakiwa
        border: none
        font-size: 13px
        text-transform: uppercase
        border-radius: 40px
        padding: 14px 0
        margin: 60px 0 0 0
        max-width: 230px

        @media (max-width: 768px)
          margin: 20px 0 20px 0
          max-width: none

        p
          margin: 0 0 5px 0
          color: $cod_gray

        .time
          font-size: 25px


    &__body

      h4
        font-size: 19px
        color: white
        margin: 0px 0 20px 0

      .product_description
        color: $dove_gray
        font-size: 18px
        margin:  0 0 23px 0

      .price
        text-align: start
        font-size: 20px
        margin-bottom: 20px

      .price--discount
        font-size: 15px
        margin-left: 20px

    &__image

      img
        width: 70%

        @media (max-width: 768px)
          margin-top: 20px
          width: 100%
