.progress-bar
  min-width: 140px
  height: 1px
  background-color: $dove_gray
  border-radius: 3px


  .progress-bar-fill
    height: 1px
    display: block
    background-color: white
    border-radius: 3px
    transition: margin-left 500ms ease-in-out
