.double-slider
  background: linear-gradient($ebony_clay, $woodsmoke)
  border-radius: 20px
  padding: 40px 45px

  .separator
    display: flex
    width: auto

    .line
      background: white
      width: 1px
      height: 100%

  &__product
    img
      width: 100%
      max-width: 200px

    &__image
      @media (max-width: 768px)
        display: flex
        justify-content: center
        margin-bottom: 20px


    &__content
      display: flex
      flex-flow: column
      justify-content: space-between
      color: white

      h2
        font-size: 20px
        margin: 0 0 0 0

      p
        color: $dove_gray
        font-family: Roboto, serif
        margin: 0
        font-size: 14px

        @media (max-width: 768px)
          &
            margin: 10px 0


    &__price
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: flex-end

      @media (max-width: 768px)
        margin-top: 10px
        margin-bottom: 20px

      .price-block
        display: flex
        flex-flow: column nowrap
