.email-subscribe
  background: linear-gradient(#181818 0%, #1E272C 100%)
  padding: 0 40px
  border-radius: 40px
  display: flex
  flex-flow: row
  align-items: flex-end

  img
    width: 100%

  .row
    width: 100%

  &__body
    margin-top: 30px
    display: flex
    flex-flow: column

    h3
      text-transform: uppercase
      color: $dodger_blue
      font-size: 29px
      font-weight: 300
      margin: 0 0 26px 0

    p
      color: $dove_gray
      margin: 0

    &__input
      margin-top: 50px
      display: flex
      flex-flow: row
      height: 44px

      input
        border: 1px solid $silver_chalice
        background: transparent
        color: $dove_gray
        padding: 17px 0 17px 35px
        width: 70%
        border-radius: 40px 0 0 40px
        transition: 0.4s border
        border-right: none


        &:focus
          outline: none


        &:hover
          border: 1px solid $dodger_blue

      button
        width: 30%
        background: $dodger_blue
        font-size: 12px
        color: white
        border: none
        border-radius: 0 20px 20px 0
