.news

  &__card
    display: flex
    flex-flow: column
    background: #1C1C1C
    border-radius: 20px
    padding-bottom: 20px

    &:hover
      cursor: pointer

    image
      width: 100%

    &__title
      color: white
      font-size: 14px
      padding: 0 15px
