.home__start_screen
  align-content: space-between
  min-height: 100vh

  .preview
    margin-top: 250px

  .right_block

    color: white
    h1
      font-size: 50px
      margin: 0 0 20px 0
      font-weight: 300

    p
      font-size: 20px


  .double-slider
    margin-bottom: 30px
    box-shadow: 0 3px 0 0 black


  @media (max-width: 768px)
    .right_block
      text-align: center

      .app_button
        margin-bottom: 20px

