@import "./styles/brand/colors"
@import "./styles/brand/transitions"

body
  padding: 0
  margin: 0
  background-color: $cod_gray
  font-family: 'Montserrat', sans-serif
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.price
  color: white
  font-size: 15px
  margin: 0 0 31px 0
  text-align: right

.price--discount
  text-decoration:  line-through
  color: $dove_gray
  margin-bottom: 0

.price--once
  margin-top: 20px


.arrow-left, .arrow-right
  &:hover
    cursor: pointer

.arrow-left
  img
    margin-right: 10px
.arrow-right
  img
    margin-left: 10px

.slider-col-5
  flex: 1 0 0
  width: 20%

.slider-col-3
  flex: 1 0 0
  width: 33.33%

.slider-col-1
  flex: 1 0 0
  width: 100%
