.slide-fade-enter-active
  transition: all 0.3s ease-out

.slide-fade-leave-active
  transition: all 0.4s ease-in

.slide-fade-enter-from,
.slide-fade-leave-to
  transform: translateY(-40px)
  opacity: 0

.slide-reverse-fade-enter-active
  transition: all 0.3s ease-out

.slide-reverse-fade-leave-active
  transition: all 0.4s ease-in

.slide-reverse-fade-enter-from,
.slide-reverse-fade-leave-to
  transform: translateY(40px)
  opacity: 0

.slide-x-fade-enter-active
  transition: all 0.4s ease-out

.slide-x-fade-leave-active
  transition: all 0.1s ease-in

.slide-x-fade-enter-from,
.slide-x-fade-leave-to
  transform: translateX(-40px)
  opacity: 0

.fade-enter-active
  transition: all 0.4s ease-out

.fade-enter-from,
.fade-leave-to
  opacity: 0


.list-enter-active,
.list-leave-active
  transition: all 0.4s ease

.list-enter-from,
.list-leave-to
  opacity: 0
  transform: translateX(30px)
