<template>
  <button :class="['app_button', `app_button--${type}`]">{{text}}</button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    text: {
      required: true,
      type: String
    },
    type: {
      default: 'normal',
      type: String,
      validator(value) {
        return ['big', 'normal', 'small'].includes(value);
      }
    }
  }
};
</script>

<style scoped>

</style>
