<template>
  <div class="footer col-12">
    <div>
      <img class="app-logo" src="@/assets/logo.svg" alt="logo">
    </div>
    <div class="row ">
      <div class="col-12 col-xl-3">
        <p class="info">О магазине</p>
        <p>Опт и сотрудничество</p>
        <p>Блог</p>
        <p>Услуги</p>
        <p>О нас</p>
      </div>
      <div class="col-12 col-xl-3">
        <p class="info">Клиентам</p>
        <p>Экран и сервис</p>
        <p>Кредит и рассрочка</p>
        <p>Подарочные сертификаты</p>
        <p>Сервисные центры Apple</p>
        <p>Политика конфиденциальности</p>
        <p>Публичная оферта</p>
      </div>
      <div class="col-12 col-xl-3">
        <p class="info">Информация</p>
        <p>Доставка и оплата</p>
        <p>Магазины</p>
        <p>Поддержка</p>
        <p>Гарантии и возврат</p>
        <p>Вопросы и ответы</p>
        <p>Контакты</p>
      </div>
      <div class="col-12 col-xl-3">
        <p class="info">Для связи и вопросов</p>
        <p>+7 996 504 64 32</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppFooter'
};
</script>

<style scoped>

</style>
