<template>
  <div class="header" :class="{'header--fixed': scrollPosition > 50, 'header--active': showMenu}"
       v-click-outside="hideMenu">
    <div class="header__action">
      <img class="app-logo" src="@/assets/logo.svg" alt="logo">
      <img class="burger" src="@/assets/burger.png" alt=""
           @click="showMenuState = !showMenuState"
           v-show="!showMenu">
    </div>
    <transition name="slide-fade" mode="out-in">
      <div class="navbar" v-click-outside="hideSearchBar" v-show="showMenu">
        <transition name="slide-fade" mode="out-in">
          <div class="navbar__search" v-if="showSearch">
            <input type="text" placeholder="Например: Iphone 11">
          </div>
          <div class="navbar__items" v-else>
            <div class="navbar__items__drop-down-menu" v-click-outside="hideDropMenu">
              <button class="item fall_out" @click="showDropMenu = !showDropMenu">
                Продукция
                <img src="@/assets/arrow_up.svg"
                     :class="showDropMenu ? 'arrow-up' : 'arrow-down'"
                >
              </button>
              <transition name="slide-fade">
                <div class="navbar__items__drop-down-menu__items" v-show="showDropMenu">
                  <button class="item">iPhone</button>
                  <button class="item">iPad</button>
                  <button class="item">iMac</button>
                  <button class="item">MacBook</button>
                  <button class="item">Apple Watch</button>
                  <button class="item">Аксессуары</button>
                </div>
              </transition>
            </div>
            <button class="item">Сервисы</button>
            <button class="item">Информация</button>
            <button class="item">Контакты</button>
          </div>
        </transition>
        <img src="@/assets/search.svg"
             :class="['icon', {'search-icon--active' : showSearch}]"
             @click="showSearch = true"
        >
        <img src="@/assets/cart.svg" class="icon">
      </div>
    </transition>
  </div>
</template>

<script>
import useBreakpoints from '../helpers/useBreakpoints';

export default {
  name: 'AppHeader',
  data() {
    return {
      showMenuState: false,
      showDropMenu: false,
      showSearch: false,
      scrollPosition: null
    };
  },
  computed: {
    showMenu() {
      return this.showMenuState || this.width >= 768;
    }
  },
  methods: {
    hideDropMenu() {
      this.showDropMenu = false;
    },
    hideMenu() {
      this.showMenuState = false;
    },
    hideSearchBar() {
      this.showSearch = false;
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  },
  setup() {
    const { width } = useBreakpoints();
    return {
      width
    };
  }
};
</script>

<style scoped>

</style>
