<template>
  <div class="app_slider col-12" v-if="items"
       v-touch:swipe.left="nextPage"
       v-touch:swipe.right="previousPage"
  >
    <div class="app_slider__header">
      <h3>{{ title }}</h3>
      <progress-bar :count-items="countItems"
                    :current-item-number="page"
                    v-if="useArrows"/>
    </div>
    <div class="app_slider__body">
      <div class="arrow-left d-none d-xl-flex" @click="previousPage" v-if="useArrows" >
        <img src="@/assets/ArrowLeft.svg" alt="arrow">
      </div>
      <div class="row  justify-content-center">
        <slot name="items" :current="currentItems">
          <template v-for="(item) in items" :key="item.id">
              <transition name="list" mode="out-in">
                <div :class="[`slider-col-${itemsPerPage}`]"
                     v-if="currentItems.find((el) => {return el === item})">
                  <div class="item_card">
                    <img class="item_image" :src="item.image.path" :alt="item.image.description">
                    <p class="item_name">{{ item.name }}</p>
                    <div class="item_card__footer d-flex flex-row">
                      <div v-if="item.discount" class="d-flex flex-column">
                        <p class="price price--discount">{{ item.price }}&#8381;</p>
                        <p class="price">{{ item.discounted_price }}&#8381;</p>
                      </div>
                      <p class="price price--once" v-else>{{ item.price }}&#8381;</p>
                      <img class="cart-icon" src="@/assets/cart.svg" alt="cart">
                    </div>
                  </div>
                </div>
                <div v-else class="d-none"></div>
              </transition>
          </template>
        </slot>
      </div>
      <div class="arrow-right d-none d-xl-flex" @click="nextPage" v-if="useArrows">
        <img src="@/assets/ArrowRight.svg" alt="arrow">
      </div>
    </div>
  </div>
</template>

<script>
import ProgressBar from './ProgressBar';

export default {
  name: 'AppSlider',
  components: { ProgressBar },
  props: {
    title: {
      type: String,
      required: true
    },
    useArrows: {
      type: Boolean,
      required: false,
      default: true
    },
    items: {
      type: Object,
      required: true
    },
    itemsPerPage: {
      type: Number,
      required: false,
      default: 5
    }
  },
  data() {
    return {
      page: 0
    };
  },
  computed: {
    currentItems() {
      const page = this.itemsPerPage;
      return this.items.slice(this.page * page, this.page * page + page);
    },
    countItems() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    }
  },
  methods: {
    previousPage() {
      if (this.page > 0) {
        this.page -= 1;
      } else {
        this.page = Math.ceil(this.items.length / this.itemsPerPage) - 1;
      }
    },
    nextPage() {
      const max = Math.ceil(this.items.length / this.itemsPerPage) - 1;
      if (this.page === max) {
        this.page = 0;
      } else {
        this.page += 1;
      }
    }
  }
};
</script>

<style scoped>

</style>
