<template>
  <div class="product_slider col-12" v-if="products.length">
    <app-slider :title="title" :items="products" :items-per-page="productsPerPage"/>
  </div>
</template>

<script>
import useBreakpoints from '../helpers/useBreakpoints';
import AppSlider from './AppSlider';

export default {
  name: 'ProductSlider',
  components: { AppSlider },
  props: {
    title: {
      type: String,
      required: true
    },
    useArrows: {
      type: Boolean,
      required: false,
      default: true
    },
    products: {
      type: Object,
      required: true
    }
  },
  computed: {
    productsPerPage() {
      if (this.width < 1200 && this.width >= 768) {
        return 3;
      } if (this.width < 768) {
        return 1;
      }
      return 5;
    }
  },
  setup() {
    const { width } = useBreakpoints();
    return { width };
  }
};
</script>

<style scoped>

</style>
