<template>
  <div class="product_card_slider col-12"
       v-touch:swipe.left="nextCategory"
       v-touch:swipe.right="previousCategory">
    <h3>{{ title }}</h3>
    <div class="product_card_slider__categories">
      <p :class="['category', {'category--active' : index === currentCategory}]"
         v-for="(category, index) in category" :key="index"
      @click="currentCategory = index">{{ category.name }}
      </p>
    </div>
    <div class="product_card_slider__body">
      <div class="row align-items-center">
        <div class="arrow-left col-1 d-none d-xl-flex" @click="previousCategory">
          <img src="@/assets/ArrowLeft.svg" alt="arrow">
        </div>
        <div class="col-12 col-xl-10">
        <div class="row product_card_slider__body__items justify-content-center">
          <div class="col-12 col-xl-4"
               v-for="(product, index) in category[currentCategory].products.slice(0,3)"
               :key="product.id">
            <div class="d-flex justify-content-center">
              <div :class="['product_card',{'product_card--limit' : index === 1}]">
                <div class="deadline" v-if="index === 1">
                  <p>Акция продлится до 20.08</p>
                </div>
                <div class="product_card__right_block">
                  <h4>{{ product.name }}</h4>
                  <div v-if="product.discount" class="d-flex flex-row">
                    <p class="price">{{ product.discounted_price }}&#8381;</p>
                    <p class="price price--discount">{{ product.price }}&#8381;</p>
                  </div>
                  <p class="price" v-else>{{ product.price }}&#8381;</p>
                  <app-button type="small" text="Купить"/>
                </div>
                <img class="product_image" :src="product.image.path"
                     :alt="product.image.description">
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="arrow-right col-1 d-none d-xl-flex justify-content-end" @click="nextCategory">
          <img src="@/assets/ArrowRight.svg" alt="arrow">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from './AppButton';

export default {
  name: 'ProductCardSlider',
  components: { AppButton },
  props: {
    title: {
      required: true,
      type: String
    },
    category: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      currentCategory: 0
    };
  },
  methods: {
    previousCategory() {
      if (this.currentCategory > 0) {
        this.currentCategory -= 1;
      } else {
        this.currentCategory = this.category.length - 1;
      }
    },
    nextCategory() {
      if (this.currentCategory < this.category.length - 1) {
        this.currentCategory += 1;
      } else {
        this.currentCategory = 0;
      }
    }
  }
};
</script>

<style scoped>

</style>
