<template>
  <div class="progress-bar">
    <span class="progress-bar-fill"
          :style="styles"
    >
    </span>
  </div>
</template>

<script>
export default {
  name: 'ProgressBar',
  props: {
    currentItemNumber: {
      type: Number,
      required: false
    },
    countItems: {
      type: Number,
      required: false
    }
  },
  computed: {
    itemWidth() { return this.countItems ? 100 / this.countItems : 33.3; },
    styles() {
      return {
        width: `${this.itemWidth}%`,
        marginLeft: `${(this.currentItemNumber) * this.itemWidth}%`
      };
    }
  }
};
</script>

<style scoped>

</style>
