<template>
  <div class="col-12 home">
    <start-screen/>
    <template v-if="!isProductLoading">
      <product-slider title="Топ-продаж"
                      :products="landingProducts['top_sales']"/>
      <product-card-slider title="Подарочные категории"
                           :category="landingProducts['gift_categories']"/>
      <product-slider title="Новинки" :useArrows="false"
                      :products="landingProducts['new_products']"/>
      <product-slider title="Акционные предложения"
                      :products="landingProducts['promotional_offers']"/>
      <product-day :product="landingProducts['product_day']"/>
      <news-previews/>
      <email-subscribe />
    </template>
  </div>
</template>

<script>
import StartScreen from '../components/home/StartScreen';
import useProducts from '@/repositories/useProducts';
import useNews from '@/repositories/useNews';
import ProductSlider from '../components/layout/ProductSlider';
import ProductCardSlider from '../components/layout/ProductCardSlider';
import ProductDay from '../components/home/ProductDay';
import NewsPreviews from '../components/home/NewsPreviews';
import EmailSubscribe from '../components/home/EmailSubscribe';

export default {
  name: 'Home',
  components: {
    EmailSubscribe,
    NewsPreviews,
    ProductDay,
    ProductCardSlider,
    ProductSlider,
    StartScreen
  },
  created() {
    this.loadLandingProducts();
    this.loadNews();
  },
  setup() {
    const {
      loadLandingProducts,
      landingProducts,
      isProductLoading
    } = useProducts();
    const { loadNews } = useNews();
    return {
      loadLandingProducts,
      landingProducts,
      isProductLoading,
      loadNews
    };
  }
};
</script>
