<template>
  <div class="email-subscribe">
    <div class="row  align-items-center">
      <div class="d-none d-xl-flex col-4">
        <img src="@/assets/iphones.png" alt="телефоны">
      </div>
      <div class="email-subscribe__body col-12 col-xl-4">
        <h3>Будьте в курсе всегда!</h3>
        <p>Подпишитесь на рассылку и узнавайте первым
          о новых акциях и предложениях!</p>
      </div>
      <div class="email-subscribe__body__input col-12 col-xl-4 mb-5">
        <input type="text" placeholder="Адрес электронной почты">
        <button>Отправить</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EmailSubscribe'
};
</script>

<style scoped>

</style>
