<template v-if="!isNewsLoading" class="news">
  <app-slider title="Новости" :items="news" :items-per-page="itemsPerPage">
    <template v-slot:items="slotProps">
      <div class="row ">
        <template v-for="article in news" :key="article.id">
          <transition name="list" mode="out-in">
            <div :class="`slider-col-${itemsPerPage}`"
                 v-if="slotProps.current.find((el) => {return el === article})"
            >
              <div class="news__card">
                <img :src="article.image.path"
                     :alt="article.image.description">
                <p class="news__card__title">{{ article.title.substring(0, 100) + '...' }}</p>
              </div>
            </div>
            <div class="d-none" v-else></div>
          </transition>
        </template>
      </div>
    </template>
  </app-slider>
</template>

<script>
import { inject } from 'vue';
import AppSlider from '../layout/AppSlider';
import useBreakpoints from '../helpers/useBreakpoints';

export default {
  name: 'NewsPreviews',
  components: { AppSlider },
  setup() {
    const news = inject('news');
    const { width } = useBreakpoints();
    return {
      news,
      width
    };
  },
  computed: {
    itemsPerPage() {
      if (this.width < 1200 && this.width >= 768) {
        return 3;
      } if (this.width < 768) {
        return 1;
      }
      return 5;
    }
  }
};
</script>

<style scoped>

</style>
