<template>
  <div class="product_day col-12" v-if="product">
    <div class="product_day__card">
      <div class="row align-items-center">
        <div class="col-12 col-xl-4 product_day__card__header">
          <h3>Товар дня</h3>
          <p>Ограниченное количество</p>
          <p>Предложение действует только сегодня</p>
          <div class="timer">
            <p>До конца акции</p>
            <p class="time">{{ timerTime }}</p>
          </div>
        </div>
        <div class="col-12 col-xl-5 product_day__card__body">
          <h4>{{ product.name }}</h4>
          <p class="product_description">{{ product.description }}</p>
          <div v-if="product.discount" class="d-flex flex-row">
            <p class="price">{{ product.discounted_price }}&#8381;</p>
            <p class="price price--discount">{{ product.price }}&#8381;</p>
          </div>
          <p class="price" v-else>{{ product.price }}&#8381;</p>
          <app-button type="small" text="Купить"/>
        </div>
        <div class="col-12 col-xl-3 product_day__card__image">
          <img :src="product.image.path" :alt="product.image.description">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppButton from '../layout/AppButton';

export default {
  name: 'ProductDay',
  components: { AppButton },
  props: {
    product: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      time: 26405,
      interval: null
    };
  },
  computed: {
    timerTime() {
      const hour = Math.floor(this.time / 60 / 60);
      const min = Math.floor(this.time / 60) - (hour * 60);
      const sec = this.time % 60;
      return `${hour}:${this.formatNumber(min)}:${this.formatNumber(sec)}`;
    }
  },
  methods: {
    startCountdown() {
      this.interval = setInterval(() => {
        if (this.time !== 0) {
          this.time -= 1;
        }
      }, 1000);
    },
    formatNumber(number) {
      if (number < 10) {
        return `0${number}`;
      }
      return number;
    }
  },
  mounted() {
    this.startCountdown();
  }
};
</script>

<style scoped>

</style>
