<template>
  <div class="row home__start_screen">
    <div class="col-12 preview">
      <div class="row ">
        <div class="col-12 col-md-6 right_block">
          <h1>Iphone 12 Pro Max</h1>
          <p>Твой профессиональный выбор</p>
          <app-button text="Подробнее" />
        </div>
        <img class="col-12 col-md-6" src="@/assets/iphon_main.png" alt="телефоны">
      </div>
    </div>
    <double-slider/>
  </div>
</template>

<script>
import AppButton from '../layout/AppButton';
import DoubleSlider from '../layout/DoubleSlider/DoubleSlider';

export default {
  name: 'StartScreen',
  components: {
    DoubleSlider,
    AppButton
  }
};
</script>

<style scoped>

</style>
