<template>
  <div class="d-flex flex-row">
    <div class="app container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <app-header/>
          <div class="row">
            <router-view v-slot="{ Component, route }">
              <transition name="fade">
                <component :is="Component" :key="route.path"/>
              </transition>
            </router-view>
          </div>
          <app-footer/>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass">
@import "@/styles/main"
</style>
<script>
import AppFooter from './components/layout/AppFooter';
import AppHeader from './components/layout/AppHeader';

export default {
  components: {
    AppHeader,
    AppFooter
  }
};
</script>
