<template>
  <div class="double-slider col-12">
    <div class="row  justify-content-between" v-if="!isProductLoading">
      <div class="col-12 col-xl-5 right">
        <double-slider-product :products="landingProducts['top_sales'].slice(0,3)"/>
      </div>
      <div class="separator d-none d-xl-block">
        <div class="line"></div>
      </div>
      <div class="d-none d-xl-block col-xl-5 left">
        <double-slider-product :products="landingProducts['top_sales'].slice(4,7)"/>
      </div>
    </div>
  </div>
</template>

<script>
import { inject } from 'vue';
import DoubleSliderProduct from './DoubleSliderProducts';

export default {
  name: 'DoubleSlider',
  components: { DoubleSliderProduct },
  setup() {
    const landingProducts = inject('landingProducts');
    const isProductLoading = inject('isProductLoading');
    return {
      landingProducts, isProductLoading
    };
  }
};
</script>

<style scoped>

</style>
