<template v-if="products.length">
  <div class="row  double-slider__product" v-if="products.length">
    <div class="col-12 col-xl-4 double-slider__product__image">
      <img :src="currentProduct.image.path">
    </div>
    <div class="col-12 col-xl-5 double-slider__product__content">
      <h2>{{currentProduct.name}}</h2>
      <p>{{currentProduct.description.substring(0,100)+'...'}}</p>
      <progress-bar
        v-if="width >= 768"
        :current-item-number="productIndex"
        :count-items="products.length"/>
    </div>
    <div class="col-12 col-xl-3 double-slider__product__price">
      <div v-if="currentProduct.discount" class="price-block">
        <p class="price price--discount">{{currentProduct.price}}&#8381;</p>
        <p class="price">{{currentProduct.discounted_price}}&#8381;</p>
      </div>
      <p v-else class="price">{{currentProduct.price}}&#8381;</p>
      <app-button type="small" text="Купить"/>
    </div>
  </div>
  <progress-bar
    v-if="width <= 768"
    :current-item-number="productIndex"
    :count-items="products.length"
  />
</template>

<script>
import AppButton from '../AppButton';
import ProgressBar from '../ProgressBar';
import useBreakpoints from '../../helpers/useBreakpoints';

export default {
  name: 'DoubleSliderProduct',
  components: { ProgressBar, AppButton },
  props: {
    products: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      productIndex: 0,
      interval: null
    };
  },
  computed: {
    currentProduct() {
      return this.products[this.productIndex];
    }
  },
  mounted() {
    this.startInterval();
  },
  methods: {
    startInterval() {
      this.interval = setInterval(() => {
        if (this.productIndex === 2) {
          this.productIndex = 0;
        } else {
          this.productIndex += 1;
        }
      }, 10000);
    },
    unmounted() {
      clearInterval(this.interval);
    }
  },
  setup() {
    const { width } = useBreakpoints();
    return {
      width
    };
  }
};
</script>

<style scoped>

</style>
